<main id="main" class="main">
    <div class="pagetitle">
        <h1 [innerText]="PageName"></h1>
        <nav>
            <app-breadcrumb [Pages]="Pages"></app-breadcrumb>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" [innerText]="PageName"></h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">

                                <div class="mb-3 row">
                                    <label for="table-filtering-search"
                                        class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                                    <div class="col-xs-3 col-sm-auto">
                                        <input id="table-filtering-search" class="form-control" type="text"
                                            [formControl]="filter" autocomplete="off" />
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-outline-primary"
                                            (click)="openCreate(content)"><i
                                                class="bi bi-plus-circle"></i>&nbsp;Crear</button>
                                    </div>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" aria-describedby="Lista Usuarios">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col">#</th>
                                                <th scope="col">Código</th>
                                                <th scope="col">Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of List; let i = index ">
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Editar" (click)="openEdit(content,item)"><i
                                                            class="bi bi-pencil-square"></i></button></td>
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Eliminar"><i class="bi bi-trash"></i></button></td>
                                                <th scope="row">{{ i+rowInitIndex }}</th>
                                                <td>{{ item.code}}</td>
                                                <td><ngb-highlight [result]="item.name"
                                                        [term]="filter.value"></ngb-highlight></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshList()">
                            </ngb-pagination>

                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshList()">
                                <option [ngValue]="10">10 registros</option>
                                <option [ngValue]="50">50 registros</option>
                                <option [ngValue]="100">100 registros</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-primary">
        <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-buildings"></i>&nbsp;{{RegisterFormTitle}}

        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mt-3">
            <div class="col-md-12">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
                    <div class="row mb-3">
                        <label for="code" class="col-sm-2 col-form-label">Código </label>
                        <div class="col-sm-8">
                            <input id="code" type="text" class="form-control" formControlName="code"
                                [ngClass]="helper.hasErrorControl('code',this.registerForm) ?'is-invalid' : ''"
                                required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-8">
                            <input id="name" type="text" class="form-control" formControlName="name"
                                [ngClass]="helper.hasErrorControl('name',this.registerForm) ?'is-invalid' : ''"
                                required>
                        </div>
                    </div>

                </form>
             
                <form [formGroup]="registerTeamForm" (ngSubmit)="AddTeam()" class="row g-3 needs-validation mt-3"
                    novalidate>
                    <hr>
                    <label for="" class="badge text-bg-light fs-5">Equipos:</label>
                    <div class="row mb-3 d-flex align-items-center">                      
                        <div class="col-sm-3">
                            <label for="code" class="col-sm-2 col-form-label">Código </label>
                            <input id="code" type="text" class="form-control form-control-sm" formControlName="code"
                                [ngClass]="helper.hasErrorControl('code',this.registerTeamForm) ?'is-invalid' : ''"
                                required>
                        </div>
                          <div class="col-sm-6">
                            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                            <input id="name" type="text" class="form-control form-control-sm" formControlName="name"
                                [ngClass]="helper.hasErrorControl('name',this.registerTeamForm) ?'is-invalid' : ''"
                                required>
                        </div>
                        <div class="col-sm-3">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i>&nbsp;Agregar</button>
                    </div>
                    </div>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover" aria-describedby="Lista Usuarios">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fixed-width-column"></th>                                        
                                            <th scope="col">#</th>
                                            <th scope="col" class="nowrap-col">Codigo</th>
                                            <th scope="col" class="nowrap-col">Nombre</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of WorkAreaTeamList; let i = index ">                     
                                            <td><button type="button" class="btn btn-outline-primary btn-sm" title="Eliminar" (click)="DeleteTeam(item)"><i
                                                        class="bi bi-trash"></i></button>

                                            <td>{{ i+rowInitIndex }}</td>
                                            <td><ngb-highlight [result]="item.code" [term]="filterTeam.value"></ngb-highlight></td>
                                            <td><ngb-highlight [result]="item.name" [term]="filterTeam.value"></ngb-highlight></td>
                                       
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                  
                    
                </form>
                
          <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionTeamSize" [(page)]="pageTeam" [pageSize]="pageTeamSize"
                            (pageChange)="refreshTeamList()">
                        </ngb-pagination>
                    
                        <select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageTeamSize" (ngModelChange)="refreshTeamList()">
                            <option [ngValue]="10">10 registros</option>
                            <option [ngValue]="50">50 registros</option>
                            <option [ngValue]="100">100 registros</option>
                        </select>
                    </div>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()"><i
                class="bi bi-cloud-arrow-up-fill"></i>&nbsp;Guardar</button>
    </div>
</ng-template>