<main id="main" class="main">
    <div class="pagetitle">
        <h1 [innerText]="PageName"></h1>
        <nav>
            <app-breadcrumb [Pages]="Pages"></app-breadcrumb>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" [innerText]="PageName"></h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">

                                <div class="mb-3 row">
                                    <label for="table-filtering-search"
                                        class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                                    <div class="col-xs-3 col-sm-auto">
                                        <input id="table-filtering-search" class="form-control" type="text"
                                            [formControl]="filter" autocomplete="off"/>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-outline-primary" (click)="openCreate(content)"><i class="bi bi-plus-circle"></i>&nbsp;Crear</button>
                                      </div>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" aria-describedby="Lista Usuarios">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col">#</th>
                                                <th scope="col">Año</th>
                                                <th scope="col">Descripción</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Fecha Fin</th>
                                                <th scope="col">Días</th>                                       
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of List; let i = index ">
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Editar" (click)="openEdit(content,item)"><i class="bi bi-pencil-square"></i></button></td>
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Eliminar"><i class="bi bi-trash"></i></button></td>
                                                <th scope="row">{{ i+rowInitIndex }}</th>  
                                                <td>{{ item.year}}</td>                                              
                                                <td><ngb-highlight [result]="item.description" [term]="filter.value"></ngb-highlight></td>                                                  
                                                <td><ngb-highlight [result]="item.startDate | date:'YYYY-MM-dd'" [term]="filter.value"></ngb-highlight></td>
                                                <td><ngb-highlight [result]="item.endDate | date:'YYYY-MM-dd'" [term]="filter.value"></ngb-highlight></td>
                                                <td>{{ item.days}}</td>                                       
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshList()">
                            </ngb-pagination>

                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshList()">
                                <option [ngValue]="10">10 registros</option>
                                <option [ngValue]="50">50 registros</option>
                                <option [ngValue]="100">100 registros</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header text-primary">
		<h4 class="modal-title" id="modal-basic-title"><i class="bi bi-calendar-week"></i>&nbsp;{{RegisterFormTitle}}
      
        </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="row mt-3">
            <div class="col-md-12">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
                    <div class="row mb-3">
                    <label for="year" class="col-sm-2 col-form-label" >Año</label>
                    <div class="col-sm-8">
                      <input id="year" type="number" min="{{actualYear}}" step="1" class="form-control" formControlName="year" [ngClass]="helper.hasErrorControl('year',this.registerForm) ?'is-invalid' : ''"  required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-8">
                      <input id="description" type="text" class="form-control" formControlName="description"  [ngClass]="helper.hasErrorControl('description',this.registerForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="startDate" class="col-sm-2 col-form-label">Fecha Inicio</label>
                    <div class="col-sm-8">
                      <input id="startDate" type="date" class="form-control" formControlName="startDate"  [ngClass]="helper.hasErrorControl('startDate',this.registerForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="endDate" class="col-sm-2 col-form-label">Fecha Fin</label>
                    <div class="col-sm-8">
                      <input id="endDate" type="date" class="form-control" formControlName="endDate"  [ngClass]="helper.hasErrorControl('endDate',this.registerForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <label for="days" class="col-sm-2 col-form-label">Días</label>
                    <div class="col-sm-8">
                      <input id="days" type="number" min="0" step="1" class="form-control" formControlName="days"  [ngClass]="helper.hasErrorControl('days',this.registerForm) ?'is-invalid' : ''" required>
                    </div>
                  </div> -->
                </form>               
                 
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="bi bi-cloud-arrow-up-fill"></i>&nbsp;Guardar</button>
	</div>
</ng-template>
