<main id="main" class="main">
    <div class="pagetitle">
        <h1 [innerText]="PageName"></h1>
        <nav>
            <app-breadcrumb [Pages]="Pages"></app-breadcrumb>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" [innerText]="PageName"></h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">

                                <div class="mb-3 row">
                                    <label for="table-filtering-search"
                                        class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                                    <div class="col-xs-3 col-sm-auto">
                                        <input id="table-filtering-search" class="form-control" type="text"
                                            [formControl]="filter" autocomplete="off"/>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-outline-primary" (click)="openCreate(content)"><i class="bi bi-plus-circle"></i>&nbsp;Crear</button>
                                      </div>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" aria-describedby="Lista Usuarios">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col" class="fixed-width-column"></th>
                                                <th scope="col">#</th>
                                                <th scope="col">Codigo</th>
                                                <th scope="col">RUC</th>
                                                <th scope="col">Raz. Social</th>
                                                <th scope="col">Nombre Comercial</th>
                                                <th scope="col">Sector Economico</th>
                                                <th scope="col">País</th>
                                                <th scope="col">Activo</th>
                                                <th scope="col">Dom. Fiscal</th>                                          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of List; let i = index ">
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Editar" (click)="openEdit(content,item)"><i class="bi bi-pencil-square"></i></button></td>
                                                <td><button type="button" class="btn btn-outline-primary btn-sm"
                                                        title="Eliminar"><i class="bi bi-trash"></i></button></td>
                                                <th scope="row">{{ i+rowInitIndex }}</th>  
                                                <td>{{ item.id}}</td>                                              
                                                <td><ngb-highlight [result]="item.taxIdentificationNumber" [term]="filter.value"></ngb-highlight></td>                                                  
                                                <td><ngb-highlight [result]="item.legalName" [term]="filter.value"></ngb-highlight></td>
                                                <td><ngb-highlight [result]="item.commercialName" [term]="filter.value"></ngb-highlight></td>
                                                <td>{{ item.economicSector}}</td>                                           
                                                <td>{{ item.country}}</td>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="item.isActive">                                                        
                                                      </div>
                                                </td>
                                                <td>{{ item.fiscalAddress}}</td>    
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshList()">
                            </ngb-pagination>

                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshList()">
                                <option [ngValue]="10">10 registros</option>
                                <option [ngValue]="50">50 registros</option>
                                <option [ngValue]="100">100 registros</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header text-primary">
		<h4 class="modal-title" id="modal-basic-title"><i class="bi bi-buildings"></i>&nbsp;{{RegisterFormTitle}}
      
        </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="row mt-3">
            <div class="col-md-12">
                <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
                    <div class="row mb-3">
                    <label for="taxIdentificationNumber" class="col-sm-2 col-form-label" >RUC</label>
                    <div class="col-sm-8">
                      <input id="taxIdentificationNumber" type="text" class="form-control" formControlName="taxIdentificationNumber" [ngClass]="helper.hasErrorControl('taxIdentificationNumber',this.companyForm) ?'is-invalid' : ''"  required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="legalName" class="col-sm-2 col-form-label">Raz. Social</label>
                    <div class="col-sm-8">
                      <input id="legalName" type="text" class="form-control" formControlName="legalName"  [ngClass]="helper.hasErrorControl('legalName',this.companyForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="commercialName" class="col-sm-2 col-form-label">Nombre Comercial</label>
                    <div class="col-sm-8">
                      <input id="commercialName" type="text" class="form-control" formControlName="commercialName"  [ngClass]="helper.hasErrorControl('commercialName',this.companyForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fiscalAddress" class="col-sm-2 col-form-label">Dom. Fiscal</label>
                    <div class="col-sm-8">
                      <input id="fiscalAddress" type="text" class="form-control" formControlName="fiscalAddress"  [ngClass]="helper.hasErrorControl('fiscalAddress',this.companyForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="economicSector" class="col-sm-2 col-form-label">Sector</label>
                    <div class="col-sm-8">
                      <input id="economicSector" type="text" class="form-control" formControlName="economicSector"  [ngClass]="helper.hasErrorControl('economicSector',this.companyForm) ?'is-invalid' : ''" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="costCenterCode" class="col-sm-2 col-form-label">Centro de Costo</label>
                    <div class="col-sm-8">
                      <input id="costCenterCode" type="text" class="form-control" formControlName="costCenterCode" placeholder="Código"  [ngClass]="helper.hasErrorControl('costCenterCode',this.companyForm) ?'is-invalid' : ''" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="country" class="col-sm-2 col-form-label">País</label>
                    <div class="col-sm-8">
                        <select id="country" class="form-select" aria-label="Lista de Paises" formControlName="country" [ngClass]="helper.hasErrorControl('country',this.companyForm) ?'is-invalid' : ''" required>
                            <option value="" selected>--Seleccionar--</option>
                            <option value="{{item.id}}" *ngFor="let item of countryList" [innerText]="item.name" ></option>                     
                          </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-8">
                         <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="isActive" formControlName="isActive">
                    <label class="form-check-label" for="isActive">
                      Activo
                    </label>
                    </div>
                    
                  </div>
                  </div>
                </form>               
                 
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="bi bi-cloud-arrow-up-fill"></i>&nbsp;Guardar</button>
	</div>
</ng-template>
